.app-content {
	padding-top: 90px;
}

.app-dashboard {}

.app-dashboard:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 100%;
    z-index: -2;
    background-color: black;
    border-radius: 0 0 30px 30px;
}