:root {
    --theme-color: #a00f0f;
    --main-dark: #0a090b;
    --dark-500: #3D3743;
    --main-ash: #F0F2E3;
    --theme-shade: #b33f3f;
    --pink-color: #f1416c;
    --blue-primary: #0095E8;
    --orange-color: #f45b0f;
}

.bg-theme-color {
    background-color: var(--theme-color);
}

.bg-blue {
    background-color: var(--blue-primary);
}

.bg-orange {
    background-color: var(--orange-color);
}

.progress-bar-height {
    height: 7.5px;
}

.bg-pink {
    background-color: var(--pink-color) !important;
}

.text-shadow-white {
    text-shadow: white 0.1em 0.1em 0.2em;
}

.border-white {
    border:  1px solid #fff;
}

.border-pink {
    border: 1px solid var(--pink-color) !important;
}

.text-shadow-dark {
    text-shadow: var(--main-dark) 0.1em 0.1em 0.2em;
}

.cursor-pointer {
    cursor: pointer;
}

.card-raduis {
    border-radius: 20px;
}

.icon-raduis {
    border-radius: 10px !important;
}

.border-main-dark {
    border: 1px solid var(--main-dark);
}

.border-theme-color {
    border: 1px solid var(--theme-color);
}

.border-dark-500 {
    border: 1px solid var(--dark-500);
}

.border-bottom-dark-500 {
    border-bottom: 1px solid var(--dark-500);
}

.border-top-dark-500 {
    border-top: 1px solid var(--dark-500);
}

.text-theme-color {
    color: var(--theme-color);
}

.text-underline {
    text-decoration: underline !important;
}

.text-main-dark {
    color: var(--main-dark);
}

.text-dark-500 {
    color: var(--dark-500);
}

.bg-dark-500 {
    background-color: var(--dark-500);
}

.object-cover {
    object-fit: cover;
}

.bg-main-dark {
    background-color: var(--main-dark);
}

.bg-main-ash {
    background-color: var(--main-ash);
}

.text-main-ash {
    color: var(--main-dark);
}

.form-group.floating>label {
    bottom: 34px;
    left: 8px;
    position: relative;
    background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 1.1em;
    transition: 0.1s;
    pointer-events: none;
    font-weight: 500 !important;
    transform-origin: bottom left;
}

.form-control.floating:focus~label{
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
    color: #005ebf;
}

.form-control.floating:valid~label{
    transform-origin: bottom left;
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
}